@(annotation: models.google.plus.Annotation.Value = models.google.plus.Annotation.inline,
  size : models.google.plus.Size.Value = models.google.plus.Size.medium,
  lang : String = "en-US")

<!-- share button -->
<div class        = "g-plus"
  data-action     = "share"
  data-size       = "@size" 
  data-annotation = "@annotation">
</div>

<script type="text/javascript">
  $(function() {
    var po = document.createElement('script');
    po.type = 'text/javascript';
    po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
    window.___gcfg = {
      lang : "@lang"
    }
  });

</script>
