@(message: String)

@import models.google.plus._

@main("G+ Examples") {
     <link rel="canonical" href="http://localhost:9000">
    <div class="container" style="padding-top:90px;">
 
<header class="jumbotron subhead" id="overview">
  <h1>Google+</h1>
  <p class="lead">examples</p>
</header>

    <table class="hero-unit table table-striped">
      <tr>
         <th>+ Button</th>
         <th>+ Share </th>
         <th>+ Badge </th>
      </tr>
      <tr>
         <td>@views.html.google.plus.button()</td>
         <td>@views.html.google.plus.share()</td>
         <td>@views.html.google.plus.badge()</td>
      </tr>
      <tr>
         <td>@views.html.google.plus.button(size = Size.tall,annotation = Annotation.bubble)</td>
         <td>@views.html.google.plus.share(size = Size.large)</td>
         <td>@views.html.google.plus.badge(feature = Feature.small)</td>
      </tr>
      <tr>
         <td>@views.html.google.plus.button(width = 500)</td>
         <td></td><td></td>
      </tr>
      <tr>
         <td> @views.html.google.plus.button(annotation = Annotation.none)</td>
         <td></td><td></td>
      </tr>
    </table>     
   </div>
}
